.counter {
  background-color: white;
  border: 5px solid blue;
  cursor: pointer;
  color: black;
  padding: 5px;
  margin: 10px;
}

.decrement {
  background-color: white;
  border: 5px solid red;
  cursor: pointer;
  color: black;
  padding: 5px;
  margin: 10px;
}

.reset {
  background-color: white;
  border: 5px solid grey;
  cursor: pointer;
  color: black;
  padding: 5px;
  margin: 10px;
}
