.btn {
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}

.btn1 {
  background-color: blue;
  border: 5px dotted red;
  cursor: pointer;
  color: white;
}

.btn2 {
  background-color: pink;
  border: 5px solid red;
  cursor: pointer;
  color: black;
  font-weight: bolder;
}
.btn3 {
  background-color: green;
  border: 5px solid rgb(158, 12, 169);
  cursor: pointer;
  color: white;
}
