/*selettore glbale per resettare tutti gli stili di default*/
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

/*import blog.css*/
@import url("blog.css");

@import url("contatti.css");

li {
    color: red;
    list-style: none;
}

a {
    color:red;
    text-decoration: none;
    color:purple;
}

#blog {
    background-color: lightgray;
}

article{
    line-height: 24px;
    background-color: pink;
}

ul {
    margin-left: 30px;
}