/*selettore glbale per resettare tutti gli stili di default*/
* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}

/*import blog.css*/
@import url("blog.css");

@import url("contatti.css");

li {
    color: red;
    list-style: none;
    display: inline-block;
    width: 100px;
}

a {
    color:purple;
    text-decoration: none;
}

#blog {
    background-color: lightgray;
}

article {
    line-height: 24px;
    background-color: pink;
}

ul {
    margin-left: 30px;
}

.title {
    color: red;
}
img {
    width: 200px;
    height: auto;
    position: fixed; /* Mantiene l'immagine fissa durante lo scorrimento */
    z-index: 1; /* Assicura che l'immagine sia dietro gli altri contenuti */
    right: 20px; /* Posiziona l'immagine a destra */
    top: 5px; /* Posiziona l'immagine in alto */
    opacity: 0.5; /* Imposta l'opacità per un effetto di trasparenza */
    border-radius: 50%; /* Rende l'immagine circolare */
}