*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
    }

    :root {
        --colore-primario: green;
        --colore-secondario: pink;
        --colore-sfondo: grey;
        --testo-base: 18px;
        --bg-color:white;
        --text-color: black;
        --bg-color-dark: rgb(0, 0, 0);
        --text-color-dark: rgb(255, 255, 255);
    }

    body {
        background: var(--bg-color);
        color: var(--text-color);
    }

    body.dark {
        --bg-color: var(--bg-color-dark);
        --text-color: var(--text-color-dark);
    }

    h1 {
        color:var(--colore-primario);
        font-size: var(--testo-base);
        
    }